<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Passing a simple struct</title>
    </head>
    <body>
        <h3>{{ .Name }} - {{ .Rating }}</h3>
    </body>
</html>