<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Hello Friend!</title>
    </head>
    <body>
        <h1>Hello {{.}}</h1> <!-- 
            // the dot in {{.}} represent the contains the current value at the time data passed.
            // and only one piece of data is allowed. 
            // won't be problem coz structs can hold complex data-->
    </body>
</html>